@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: block;
  width: 100%;
  text-align:right;
  position: relative;
  background-color: rgba(0,0,0,0.8);  
}
.header > input, 
.header > label 
{
  display: none;
}
.header > .nav {
  display: inline-block;
  width: 100%;
  padding: 16px;
}
.header > .nav > .home-page{
  display: inline-block;
  width: 30%;
  text-align: left;
  font-size: 18px;
}
.header > .nav > .main-menu {
  display: inline-block;
  width: 68%;
  text-align: right;
  font-size: 18px;
}
.header > .nav > .home-page > li, 
.header > .nav > .main-menu > li 
{
  display: inline-block;
  padding: 0 10px;
}
.header > .nav > .home-page > li >a, 
.header > .nav > .main-menu > li >a
{
  color: white;
  font-family: sans-serif;
  font-size: 75%;
  text-transform: capitalize;
  text-decoration: none;
}
.body{
  width: 100%;
  height: 470px;;
  position: relative;
  display: block;
  background-color: #CFCFCF;
  
}
.body > h3 {
  color: #383838;
  font-family: 'Inria Serif', serif;
  padding: 20px 32px; 
}
.body > p{
  padding: 30px;
  color: #383838;
  font-family: 'Gelasio', serif;
  font-size: 180%;
  width: 500px;
  text-align: left;
}
.body > img{
  float: right;
  padding: 5px 75px;
  position: relative;
/*   overflow: hidden; */

}
.description{
  width: 100%;
  height: 650px;;
}
.description > h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  color: black;
  padding: 16px 32px;
  
}
.description > p{
  font-family: 'Open Sans', sans-serif;
  color:#383838;
  padding-left: 32px;
  padding-bottom: 32px;
  width: 500px;
}
.description > img{
  padding: 70px 32px;
  width: 48%;
  float: right;
  overflow: hidden;
 
}
.specifications{
  position: relative;
  display: block;
  width: 500px;
  overflow: none;    
}

.specifications > h2{
  color:black;
  padding: 16px 32px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.specifications > li{
  display: block;
  border: 1px solid black;
  border-width: 1px 0 0 0;
}
.description >.specifications > li > a{
  display: block;
  padding: 16px 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #383838;
  white-space: nowrap;
}
.description >.specifications > li > .sub-menu{
  display: none;
  width: 90%;
  overflow: none;
  font-size: 80%;
}
.specifications > li:hover > .sub-menu {
  display: block;
  position:static;
}
.sub-menu > li{
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  padding: 20px 32px;
}
.footer{
  padding: 32px 16px;
  background-color:rgba(0,0,0,0.8);
  color: #C4BEBC;
  font-family: sans-serif;
  text-align: center;
}
.footer > .contact,
.footer > .links,
.footer > .rights{
  display: inline-block;
  width: 33.3%;
  margin-right: -4px;
  vertical-align: top;
}
.footer > .contact{
  margin-bottom: 24px;
  text-align: left;
  padding-top: 32px;
}

.footer >.contact > a{
  display: block;
  margin-bottom: 16px;
  color: #C4BEBC;
}
.footer > .contact > span > a{
  color: #C4BEBC;
  text-decoration: none;
}
.footer > .contact > span{
  display: block;
  
 }
.footer > .links > div {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  text-align: left;
  vertical-align: top;
}
.footer > .links > div > a {
  display: block;
  text-decoration: none;
  color:#C4BEBC;
  font-size: 100%;
  padding-top: 32px;
}
.footer > .rights {
  padding-top: 32px;
  text-align: right;
}
.footer > .rights > span {
  display: block;
  margin: 6px 0;
  font-size: 15px;
}
 .footer > .rights > p{
  font-size: 200%;
  padding: 8px;
  text-align: right;
}

@media (max-width: 700px){
  .header > #nav + label + .nav {
    display: none;
    width: 500px;
    padding: 16px;    
    background-color: lightgrey;
  }
  .header > #nav:checked + label + .nav {
    display: block;
  }
  .header > .nav > .home-page{
    display: block;
    width: 100%;
    text-align: left;
  }
  .header > .nav > .main-menu{
    position: static;
    width: 100%;
    text-align: center;
    background-color:grey;
  }
  .header > .nav > .main-menu > li{
    display: block;  
    border: 1px solid white;
    border-width: 1px 0 0 0 ;
    padding: 16px;
      
    }
  .header > .nav > .main-menu > li > a {
    font-size: 120%;
    text-transform: capitalize;
  }
  .header > .nav {
    position: absolute;
    top: 48px;
    right: 48px;
    z-index: 100;
    text-align: left;
  }
  .header > label {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 16px;
    color: white;
  }
  .body{
    display: block;
    overflow: hidden;
  }
  .body > p{
    display: none;
  }

  .footer > .contact,
  .footer > .links
  {
    width: 50%;
    margin: 0 0 32px 0;
    text-align: center;
  }
  .footer > .rights {
    width: 100%;
    margin-bottom: 32px;
    text-align: center;
  }
  .footer > .rights > p{
    text-align: center;
  }
}